const std = @import("std");
pub const spider = @import("spider");
pub const model = @import("model.zig");
pub const repository = @import("repository.zig");
pub const controller = @import("controller.zig");
pub const index = controller.index;
pub const show = controller.show;
pub const create = controller.create;
pub const update = controller.update;
pub const delete = controller.delete;
